/*   235 227  216      233 233 233     221   220  218   */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ADMP-html{
    display: flex;
    width: 100%;
    height: 100%;
}

.ADMP-body{
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    background: radial-gradient(circle,rgba(123, 175, 104, 1.0) 0%, rgba(148, 187, 233, 1) 100%);
}

.ADMP-top{
    display: flex;
    align-items: start;
    justify-content: start;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 3rem;
    align-self: flex-start;
}

.ADMP-tittle{
    font-weight: 150;
    font-family:"Alice","sans-serif";
    margin-left: 8rem;
    color: white;
}

.ADMP-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(235, 227, 216);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1rem;
    width: 100rem;
}

.ADMP-box{
    display: flex;
    border-radius: 1rem;
    padding-inline: 2rem;
    border: none;
    width: 70rem;
    padding-block: 0.8rem;
    justify-content: start;
}

.ADMP-box:focus{
    outline: none;
}

.ADMP-box::-webkit-search-cancel-button{
    cursor: pointer;
}


.ADMP-butom{
    display: flex;
    border-radius: 2rem;
    padding-inline: 3rem;
    padding-block: 0.8rem;
    background-color: #20315A;
    border: none;
    color: white;
    font-size: 1rem;
}
.ADMP-butom:hover{
    display: flex;
    border-radius: 2rem;
    padding-inline: 3rem;
    padding-block: 0.8rem;
    background-color: #2a4074;
    transition: ease-in-out 200ms;
    box-shadow: 0 0 40px rgba(93, 133, 185, 0.699);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.ADMP-table{
    display: flex;
    background-color: rgb(233,233,233);
    align-content: space-around;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.ADMP-tbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ADMP-theader{
    display: flex;
    align-content: center;
    flex-direction:row;
    background-color: rgb(235, 227, 216);
    justify-content: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.TP-col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 4rem;
    width: 20rem;
    flex-wrap: nowrap;
    overflow: hidden;        
    text-overflow: ellipsis;
}

.TP-header{
    display: flex;
    height: 3rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: larger;
    font-family: "inter", "sans-serif";
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}

.TP-header-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TP-body-conteiner{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.ADMP-uptable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.ADMP-downtable{
    display: flex;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: rgb(235, 227, 216);
    padding-inline: 1rem;
    padding-block:0.4rem;
    height: 4rem;
    width: 100rem;
}



.TP-col:nth-child(even) {
  background-color: rgb(221,220,218);
}

.ADMP-bottom{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: none;
}

#ADMP-search{
    position: absolute;
    left: 10.5%;
    top: 13.5%;
}

.ADMP-pag {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 0.8rem;
}

.ADMP-pag button {
    background-color: #F4F4F4;
    color: #20315A;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}
.ADMP-pag button:hover {
    background-color: #659596;
    color: #000000;
    transition: ease-in-out 200ms;
    cursor: pointer;
}
.ADMP-sec{
    display: flex;
    justify-content: center;
    align-items: start;
    height: fit-content;
}

.icons:hover{
    height: 1.4rem;
    width: 1.4rem;
    transition: ease-in-out 200ms ;
    cursor: pointer;
}

.ADMP-sec{
    background-color:none ;
}

@media (max-width: 414px){
    .ADMP-mid{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        padding-block: 1rem;
    }
    .ADMP-box{
        width: 90%;
    }
    .ADMP-tittle{
        margin: 0;
    }
    #ADMP-search{
        top: 19.7%;
        left: 15%;
    }
    .ADMP-body{
        width: 100%
    }
    .ADMP-table{
        margin-left: 70rem;
        width: 100rem;
    }
    .ADMP-downtable{
        width: 100;
        margin-left: 70rem;
    }
}