*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ADMU-body{
    background-color: #C7D2DE;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0rem 30px;
}
.Topo{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    /* border: 2px solid rgb(0, 255, 17); */
}

.Titulo{
    font-size: 2rem;
    font-style: normal;
}

.acoestopo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adcusuario button{
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    background-color: #20315A;
    border-radius: 1rem;
}

#pesquisa {
    display: flex;
    width: 60%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 16px;

    /* position: absolute;
    right: 20%;
    bottom: 30px;   */
}

#pesquisa::placeholder {
    color: var(--color-azul1-100);
    font-family: "Nunito";
    font-weight: bold;
    background-image: url(https://cdn-icons-png.flaticon.com/128/2319/2319177.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

/* .pesqusuario{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    color: #b1b1b1;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 2px solid #000000;
    border-color: #000000;
} */

/* .iconpesq{
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
} */

/* .tablecont, td, th{
    border: 1px solid blue;
} */

.tablecont{
    border-collapse: collapse;
    width: 100%;
    background-color: #F2F1E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    /* border: 1px solid rgb(255, 0, 0); */
}

.tabela{
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    /* border: 1px solid rgb(0, 255, 13); */
    border-bottom-left-radius: 1rem;
    /* border-radius: 1rem; */
}

/* .usuarioThead{
    border-radius: 1rem;
} */

/* .usuarioTbody{
    border-radius: 1rem;
} */

.usuarioTd, .usuarioTh{
    padding: 10px;
    /* border: 1px solid rgb(255, 0, 0); */
}

.usuarioTd8{
    border-bottom-left-radius: 1rem;
}

.usuarioTr{
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 1rem;
}

.usuarioTbody tr:nth-child(odd) {
    background-color: #E9E9E9;
}

.usuarioTh:first-child { text-align: center;}
.usuarioTd:first-child { text-align: center;}
.usuarioTh:last-child { text-align: center;}
.usuarioTd:last-child { text-align: center;}

.usuarioTbody tr:nth-child(even) {
    background-color: #DCEFF5;
}

.paginação {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.paginação button {
    background-color: #EBE3D7;
    color: #20315A;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Nunito";
    font-weight: bold;
}
.paginação button:hover {
    background-color: #20315A;
    color: #EBE3D7;
}