*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ADMP-html{
    display: flex;
    width: 100%;
    height: 100%;
}

.ADMP-body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #C7D2DE;
}

.ADMP-top{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-left: 3rem;
}

.ADMP-tittle{
    font-weight: 150;
}

.ADMP-mid{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: #FAF9F6;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1.5rem;
    gap:1rem;
    width: 75rem;
}

.ADMP-box{
    display: flex;
    border-radius: 2rem;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    border: 0.5px solid black;
    width: 55rem;
    padding-block: 0.8rem;
    justify-content: start;
}



.ADMP-butom{
    display: flex;
    border-radius: 2rem;
    padding-inline: 3rem;
    padding-block: 0.8rem;
    background-color: #6997D3;
    border: none;
    color: white;
    font-size: 1rem;
}

.ADMP-table{
    display: flex;
    background-color: #FAF9F6;
    align-content: space-around;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.ADMP-tbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ADMP-theader{
    display: flex;
    align-content: center;
    flex-direction:row;
    background-color: #ffffff;
    justify-content: center;
}

.TP-col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 3rem;
    width: 15rem;
}

.TP-header{
    display: flex;
    height: 3rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size: larger;
}

.TP-header-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TP-body-conteiner{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.ADMP-uptable{
    display: flex;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    background-color: #e5ecf3;
    justify-content: space-between;
    gap: 4rem;
    padding-inline: 3rem;
    padding-block:0.4rem;
    height: 3rem;
    width: 75rem;
}
.ADMP-downtable{
    display: flex;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    background-color: #e5ecf3;
    padding-inline: 1rem;
    padding-block:0.4rem;
    height: 3rem;
    width: 75rem;
}

.ADMP-select{
    display: flex;
    padding-left: 0.5rem;
}



.ADMP-tname{
    font-weight: 100;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.4rem;
}


td:nth-child(odd) {
  background-color: #e5ecf3;
}

.ADMP-bottom{
    display: flex;
    flex-direction: column;
    width: fit-content;
}