:root {

    /* cores */
    --azul-claro-ourghibli: #5A78A6;
    --azul-escuro-ourghibli: #20315A;
    --bege-ourghibli: #E8D8C3;
    --branco-ourghibli:#F2F1E6;
    --preto-ourghibli: #121212;
    --verde-claro-ourghibli: #7A9478;
    --verde-escuro-ourghibli: #4F6F52;

    /* fontes */
    /* nunito */
    --fonte-nunito: "Nunito", sans-serif;
    /* alice */
    --fonte-alice: "Alice", serif;

    /* quicksand */
    --fonte-quicksand: "Quicksand", serif;

}



.body-dashboard{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.dashboard{

background-image: url(/Our-Ghibli-Trainee-2026.1/public/assets/ghiblicompleto2.png);
width: 100vw;
height: 100vh;
background-position: center;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;


}

.centro-dashboard{

    background-color: #233254;
    border: 0.2vw solid #f2f1e6;

    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 2.4vh;
    padding-top: 2vh;
    padding-right: 0.7vw;
    padding-left: 0.7vw;
    gap: 2.1vw;

    border-radius: 2.8vw;


}

.dashboard-logo{

    background-image: url(/Our-Ghibli-Trainee-2026.1/public/assets/logoEscuraAzulEscrito.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.73vh;
    width: 22.5vw;

}

.dashboard-botoes{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.4vw;
    /* ! preciso de ajuda para fazer as sombras externas */

}

.dashboard-botoes-de-pagina{

    display: flex;
    flex-direction: row;

    gap: 1.4vw;
    padding: 0.7vw;

}

.pagina-de-usuario{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: fit-content;
    height: fit-content;

    background-color: #5a78a6;
    border-radius: 2.8vw;

}

.texto-pagina-de-usuarios{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw;
}

.pagina-de-posts{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 1vw;
    padding-bottom:1vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: fit-content;
    height: fit-content;

    background-color: #5a78a6;
    border-radius: 2.8vw;
}

.texto-pagina-de-posts{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw; 
    
}

.dashboard-botao-de-logout{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: fit-content;
    height: fit-content;

    background-color: #8B1A1A;
    border-radius: 2.8vw;


}

.texto-logout-dashboard{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw; 
    

}