* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalContainer{
  width: 320px;
  height: fit-content;
  background-color: #EBE3D7;
  border-radius: 12px;
  padding: 25px;
  display: none;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border-top: 6px solid #20315A;
  position: absolute;
  top: 45%;
  left: 45%;
}
.modalInput{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.2s;
}

.modalContainer input:focus{
  border-color: blanchedalmond;
  box-shadow: 0 0 5px blanchedalmond;
}

.arquivo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 280px;
  background-color: #eaddcf;
  border: 1px solid #c7b8a9;
  border-radius: 12px;
  cursor: pointer;
  font-family: monospace;
}


.arquivo input[type="file"] {
  display: none;
}

.arquivo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #000000;
  font-size: 14px;
}


.upload-icon {
  width: 32px;
  height: 32px;
}

.modalAcoes{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.modalAcoes button{
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btnSalvar{
  background-color: #20315A;
  color: #fff;
}
.btnExcluir{
  background-color: #E63946;
  color: #fff;
}
.modalAcoes button:hover{
  opacity: 0.85;
}