body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}


.contpip{
    border: 2px solid yellow;
    height: fit-content;
}
.Topocont{
    background-color: #1E84AA;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.topnuvens{
    display: flex;
    flex-direction:column;
    height: fit-content;
}

.gatito{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    border: 2px solid orange;
}

.fotoscont{
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.conttitulo{
    border: 2px solid orange;
    width: 100%;
    justify-content:left;
    align-items: center;
    text-align: center;
    /*padding-left: 4rem;
    padding-right: 2rem;*/
}

.cxtitulo{
    border-radius: 1rem;
    background-color: #F2F1E6;
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.titulodopost{
    justify-content:center;
    align-items: center;
    text-align: center;
    
}

.titulo p{
    font-size: 2rem;
    color: #030850;
    font-family: Georgia;
}
.conteudocont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p1{
    border: 2px solid rgb(0, 255, 8);
    background-color: #4F6F52;
    height: auto;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.imgcont{
    
    display: flex;
    flex-direction: column;
    flex-direction: column;
    border: 2px solid gold;
    background-color: #398774;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    
}
.contdaimgpost{
    border: 3px solid firebrick;
}

.cabcont{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100%;
    margin-bottom: 1rem;
    
}

.titulodocab{
    display: flex;
    flex-direction: row;
    background-color: #E8D8C3;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 1rem;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.titdocabcont{
    display: flex;
    border: 2px solid rgb(8, 0, 255);
    flex-direction: row;
    width: 60%;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    text-align: center;
}

.ftpostscont{
    border: 2px solid maroon;
    height: fit-content;
    width: 100%;
    max-width: 500px;
    justify-content:center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: fit-content;
    border-radius: 1rem;
}

.p2{
    border: 2px solid rgb(212, 0, 255);
    background-color: #4F6F52;
    height: 30rem;
    width: 50%;
}
