body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
   
}
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.contpip{
    height: fit-content;
}
.Topocont{
    background-color: #1E84AA;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content:center;
    align-items: center;
    text-align: center;
    border-bottom: 0.1rem solid #196985; 
}
.topnuvens{
    display: flex;
    flex-direction:column;
    
}
.N1{
    max-height: fit-content;
    max-width:fit-content;
    /*border: 3px solid blue;*/
}

.pipjijicont{
    display: flex;
    height: auto;
    align-items: flex-end;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    /*border: 2px solid rgb(255, 0, 0);*/
}

.gatito{
    display: flex;
    height: fit-content;
    margin-bottom: 0;
    align-items: flex-end;
    /*border: 2px solid rgb(0, 255, 17);*/
}
.gatito img{
    height: auto;
    display: block;
}

.fotoscont{
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.conttitulo{
    width: 100%;
    justify-content:left;
    align-items: center;
    text-align: center;
    /*padding-left: 4rem;
    padding-right: 2rem;*/
}

.cxtitulo{
    border-radius: 1rem;
    background-color: rgba(242, 241, 230, 0.65);
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.titulodopost{
    justify-content:center;
    align-items: center;
    text-align: center;
    
}

.titulo p{
    font-size: 2rem;
    color: #030850;
    font-family: Georgia;
}
.conteudocont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    background-image: linear-gradient(to bottom, #1E84AA, #4F6F52);
}

.p1{
    height: auto;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    overflow: hidden;
}

.imgcont{
    
    display: flex;
    flex-direction: column;
    flex-direction: column;
    background-color: #398774;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    margin-bottom: 1.5rem;
    width: fit-content;
    
}


.cabcontimg{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    
}

.titulodocabimg{
    display: flex;
    flex-direction: row;
    background-color: #E8D8C3;
    border-radius: 1rem;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.titdocabcontimg{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.botoesimg{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    text-align: center;
}

.ftpostscont{
    height: fit-content;
    width: 100%;
    max-width: 500px;
    justify-content:center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: fit-content;
    border-radius: 1rem;
}

.descricao{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    height: auto;
}

.desccont{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    background-color: #E8D8C3;
    justify-content:end;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    height: auto;
    width: 60vw;
}

.contdadesc{
    width: 100%;
    
}

.cabcontdesc{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    
}

.titulodocabdesc{
    display: flex;
    flex-direction: row;
    background-color: #398774;
    border-radius: 1rem;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.titdocabcontdesc{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.titdocabcontdesc p{
    color: #ffffff;
}


.botoesdesc{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    text-align: center;
}

.totorogalho{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    border-radius: 1rem;
    height: auto;
    width: 40%;
    /*border: 3px solid rgb(0, 0, 0);*/
}

.totoroimgdesc{
    position: relative;
    bottom: -90px;
    left: -65px;
    display: flex;
    max-width: 50vh;
    height: 50vh;
    justify-content:left;
    align-items: left;
    /*border: 3px solid blue;*/

}

.dadoscont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}

.dado{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 3px solid black;
}


.p2{
    /*border: 2px solid rgb(212, 0, 255);*/
    height: auto;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: hidden;
}

.pipposts{
    /*border: 2px solid rgb(67, 0, 81);*/
    background-color: #E8D8C3;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    
}

.piptextopost{
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    text-align: center;
}

.totoroarvorepip{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: fit-content;
    width: 100%;
    height: -2vh;
    border: 3px solid rgb(255, 0, 0);
}

.piptextoimgdototoro{
    position: relative;
    bottom: 20vw;
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content:center;
}

/*@media (max-height: 600px){
    .conteudocont{
        flex-direction: column;
    }
}*/
@media (max-width: 1000px) {
    /* aq muda pra empilhar*/
    .conteudocont {
        flex-direction: column; 
    }
    .gatito{
        width: 40%;
    }
    /* aq faz as colunas ocuparem a tela toda */
    .p1, .p2 {
        background-color: #398774;
        width: 100%; 
        padding-left: 1rem; /* nesses 2 paddings vc vai testando até ver o q te agrada, coloquei 1 só como base */
        padding-right: 1rem;
        overflow: hidden;
        align-items: center;
        
    }

    .titulodocabimg{
    display: flex;
    flex-direction: row;
    background-color: #8D8D8D;
    border-radius: 1rem;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    }
    .imgcont{
    
    display: flex;
    flex-direction: column;
    background-color: #E0D5BF;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    margin-bottom: 1.5rem;
    width: fit-content;
    }

    .titulodocabdesc{
    display: flex;
    flex-direction: row;
    background-color: #8D8D8D;
    border-radius: 1rem;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .pipposts{
    background-color: #E8D8C3;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    
    }
    .piptextopost{
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    text-align: center;
}
    .totorogalho{
        display: none;
    }
    .totoroimgdesc{
        display: none;
    }
    .piptextoimgdototoro{
        display: none;
    }
    .totoroarvorepip{
        display: none;
    }
    .topnuvens{
        display: none;
    }
    .N1{
        display: none;
    }
}