:root
{
    --color-bege1-100: #f2f1e6;
    --color-bege2-50: #efbd7ca1;
    --color-verde1-100: #4F6F52;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body{
    background-color: var(--color-bege2-50);
}

.topo{
    background-image: url(../Imagens/TotoroTopo+.png);
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    width: 100%;
    height:400px;
    display: flex;
    align-items: end;
    padding: 0 100px;

}

.topo h1{
    font-family: "Alice", serif;
    font-size: 50px;
    color: var(--color-verde1-100);
    padding: 20px;
}

#pesquisa{
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 100px;
    
}
.card{
    display: grid;
    width: 360px;
    height: 580px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--color-bege1-100);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h1{
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
}