<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração Usuários</title>
    <link rel="stylesheet" href="../../../public/css/ADM-usuarios.css">
</head>
<body class="ADMU-body">
    <section class="Topo">
        <div class="Titulo">
            <p>Listas de Usuários</p> 
        </div>

        <div class="acoestopo">
            <div class="adcusuario">
                <button> + Adicionar Usuário</button>
            </div>

            <div class="pesqusuario">
                <div class="iconpesq">
                    <img src="../../../public/assets/Vector.png" alt="">
                </div>
                <div class="pesquisar">
                    Insira o Título da publicação desejada...
                </div>
            </div>
        </div>
    </section>

    <section class="tabelacont">
        
        <div class="tabela">
            <table class="tablecont">
                <thead class="usuarioThead">
                    <tr class="usuarioTr">
                        <th id="codigo">ID</th>
                        <th id="nome">Nome</th>
                        <th id="email">Email</th>
                        <th id="acoes">Ações</th>
                    </tr>
                </thead>

                <tbody class="usuarioTbody">
                    <tr class="usuarioTr">
                        <td class="usuarioTd">1</td>
                        <td class="usuarioTd">Julia</td>
                        <td class="usuarioTd">juliacoelho@gmail.com</td>

                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">2</td>
                        <td class="usuarioTd">Caio</td>
                        <td class="usuarioTd">caio.2908@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">3</td>
                        <td class="usuarioTd">Daniela</td>
                        <td class="usuarioTd">daniela.l@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">4</td>
                        <td class="usuarioTd">Harry</td>
                        <td class="usuarioTd">harry.p@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">5</td>
                        <td class="usuarioTd">Pedro</td>
                        <td class="usuarioTd">pedro2410@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">6</td>
                        <td class="usuarioTd">Marcelina</td>
                        <td class="usuarioTd">marcelina.s@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd">7</td>
                        <td class="usuarioTd">Paulo</td>
                        <td class="usuarioTd">pauloamaral@gmail.com</td>
                        
                    </tr>

                    <tr class="usuarioTr">
                        <td class="usuarioTd8">8</td>
                        <td class="usuarioTd">Thiago</td>
                        <td class="usuarioTd">thiagocmps@gmail.com</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

    <section class="Paginacao">

    </section>
</body>
</html>