<!DOCTYPE html>
<html lang="pt-br" class="ADMP-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração Publicações</title>
    <link rel="stylesheet" href="../../../public/css/ADM-publicacoes.css">
</head>
<body class="ADMP-body">
    <div class="ADMP-top">
        <h1 class="ADMP-tittle">Página de Publicação</h1>
    </div>

    <div class="ADMP-mid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            <input type="text" name="" id="" placeholder="Pesquisar..." class="ADMP-box">
            <input type="button" value="Criar nova publicação" class="ADMP-butom">
    </div>

    <div class="ADMP-bottom">
        <table class="ADMP-table">
            <tr>
                <th class="TP-header">ID</th>
                <th class="TP-header">Título</th>
                <th class="TP-header">Autor</th>
                <th class="TP-header">Data</th>
                <th class="TP-header">Ações</th>
            </tr>
            <tr>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
            </tr>
            <tr>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
            </tr>
            <tr>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
            </tr>
            <tr>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
                <td class="TP-col">XXXXXX</td>
            </tr>
        </table>
    </div>
</body>
</html>