<!DOCTYPE html>
<html lang="pt-br" class="ADMPM-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/edit.css">
    <title>Modal Editar</title>
</head>
<body class="ADMPM-body">
    <div class="ADMPM-container">
        <div class="ADMPM-header">
            <h1>Editar Usuário</h1>
        </div> 

        <div class="ADMPM-mid">
            <div class="ADMPM-fields">
                <label for="">Nome</label>
                <input type="text" name="" id="" placeholder="Digite o seu nome" class="ADMPM-input">
            </div>
            <div class="ADMPM-fields">
                <label for="" >Email</label>
                <input type="email" name="" id="" placeholder="Digite o seu email" class="ADMPM-input">
            </div>
            <div class="ADMPM-fields">
                <label for="">Senha</label>
                <input type="password" name="" id="" placeholder="Digite a sua senha" class="ADMPM-input">
            </div>
        </div>

        <div class="ADMPM-end">
            <button class="ADMPM-btncancel">Cancelar</button>
            <button class="ADMPM-btnapply">Salvar Mudanças</button>
        </div>
    </div>
</body>
</html>