<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontes --> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />

    <title>Página de Posts</title>
    <link rel="stylesheet" href="../../../public/css/styles.css" />
  </head>
  <body>
    <main>
      <div class="topo">
        <h1>Publicações</h1>
        <input type="text" id="pesquisa" placeholder="Pesquisar" />
        <span class="iconeDePesquisa">🔍</span>
      </div>
    </main>
  </body>
</html>
