<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="Style2.css">
</head>
<body>
    <nav>
        <div id="left">
            <img src="Logo-SemFundo.png" alt="">
        </div>

        <ul>
            <div id="mid">
                <input type="button" value="HOME">
                <div class="hovermid">
                <input type="button" value="PUBLICAÇÕES">
                </div>
            </div>
        </ul>

        <ul>
            <div id="right">
                <input type="button" value="LOGIN" id="login">
            </div>
        </ul>    
        
    </nav>
</body>
</html>
