<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/ModalCriar.css" />
    <!-- Fontes -->

    <!-- Alice -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <!-- Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <title>ModalCriar</title>
  </head>
  <body>
    <section class="TituloModal">
      <div>
        <div class="modalAcoes">
          <button class="btnCriar" onclick="abrirModalCriar('modalCriar')">
            Adicionar Publicação
          </button>
          <button class="btnExcluir" onclick="abrirModalCriar('modalExcluir')">
            Excluir Publicação
          </button>
      </div>
    </section>
    <!-- Modal Visualizar -->
    <section class="criarModal">
      <div class="modalContainer" id="modalCriar">
        <label class="arquivo">
          <input type="file" accept="image/*" />
          <div class="arquivo-content">
            <svg class="upload-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4M17 8l-5-5-5 5M12 3v12"/>
            </svg>
            <span>Faça upload da imagem</span>
          </div>
        </label>
        
        <input class="modalInputText" type="text" placeholder="Título"/>
        <input class="modalInputText" type="text" placeholder="Descrição"/>
        <div class="modalAcoes">
          <button class="btnCancelar" onclick="fecharModalCriar('modalCriar')">
            Cancelar
          </button>
          <button class="btnCriar" onclick="abrirModalCriar('modalCriar')">
            Criar
          </button>
          
        </div>
      </div>

      

    </section>
  </body>
  <script src="../../../public/js/ModalCriar.js"></script>
</html>
