<!DOCTYPE html>
<html lang="pt-br" class="ADMPM-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/view.css">
    <title>Modal Adicionar</title>
</head>
<body class="ADMPM-body">
    <div class="ADMPM-container">
        <div class="ADMPM-header">
            <h1>Visualizar Usuário</h1>
        </div> 

        <div class="ADMPM-mid">
            <div class="ADMPM-fields">
                <label for="">Id</label>
                <input type="text" id="" class="ADMPM-input" disabled>
            </div>
            <div class="ADMPM-fields">
                <label for="">Nome</label>
                <input type="text" name="" id=""  class="ADMPM-input" disabled>
            </div>
            <div class="ADMPM-fields">
                <label for="" >Email</label>
                <input type="email" name="" id="" class="ADMPM-input" disabled>
            </div>
            <div class="ADMPM-fields">
                <label for="">Senha</label>
                <input type="password" name="" id="" class="ADMPM-input" disabled>
            </div>
        </div>
    </div>
</body>
</html>