*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cadastroContainer{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 30vw;
    height: 60vh;
    border-radius: 2rem;
    padding: 1rem;
}

.cadastroHeader{

}

.cadastroBody{
    width: 100%;
}

.cadastroFields{
    width: 100%;
}

.cadastroInput{
    width: 90%;
    border-radius: 0.5rem;
}

.cadastroBtn{

}