*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cadastroContainer{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 25vw;
    height: 40vh;
    border-radius: 2rem;
    padding: 1rem;
}

.cadastroHeader{

}

.cadastroBody{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastroFields{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
}

.cadastroLabel{
    font-weight: 600;
}

.cadastroInput{
    width: 100%;
    border-radius: 0.7rem;
    padding: 0.5rem;
}

.cadastroBtn{
    display: flex;
    gap: 1.5rem;
}

.cadastroCriar{
  background-color: #20315a;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  scale: 1.1;
}

.cadastroCancelar{
  background-color: #e63946;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  scale: 1.1;
}