* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.usubtnvisualizar {
  border: none;
  background-color: transparent;
}

.modoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modcont {
  background-color: #e8d8c3;
  width: 100%;
  max-width: 500px;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.modtit {
  background-color: #20315a;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-items: center;
  gap: 36px;
}

.modtit h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 2rem;
}

.fechax {
  background: none;
  border: none;
  color: #9c0000;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.2s;
  padding-bottom: 10px;
}

.fechax:hover {
  transform: scale(1.2);
}

.modbody {
  padding: 24px;
}

.inputcont {
  margin-bottom: 15px;
}

.inputcont label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper .InfoCont {
  width: 100%;
  height: 38px;
  padding: 3px 0px 0px 10px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  background-color: #ebdcd0;
  font-size: 14px;
  color: #333333;
  outline: none;
}
/* Informação sem icones */
.Info {
  font-size: 20px;
  font-family: "Alice", serif;
  font-weight: 450;
  font-style: normal;
}
/* Informação com icones */
.InfoCI {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Alice", serif;
  font-weight: 450;
  font-style: normal;
  padding-inline: 5px;
}

.input-wrapper:not(.no-icon) InfoCont {
  padding-left: 45px;
}

.input-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: #333333;
}

.toggle-password {
  position: absolute;
  right: 15px;
  font-size: 18px;
  color: #5c5b5b;
  cursor: pointer;
}

.toggle-password:hover {
  color: #000000;
}

.InfoCont::placeholder {
  color: #919191;
}

.botaoexcluir {
  background-color: transparent;
}

.botaoexcluir:hover {
  background-color: transparent;
}

.titExcluir {
  justify-content: center;
}

.bodyExcluir {
  text-align: center;
  padding: 30px 20px;
}

.icon-excluir {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.textoExcluir {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: 500;
}

.btsExcluir {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.iconlix {
  width: 44px;
  height: 44px;
  margin-bottom: 14px;
}

.btnAcoesUsu {
  padding: 12px 30px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s;
}

.btnAcoesUsu:hover {
  opacity: 0.9;
}

.btnUsuCancelar {
  background-color: #20315a;
}

.btnUsuExcluir {
  background-color: #e51f1f;
}

@media (max-width: 700px) {
  .modoverlay {
    padding: 2rem;
  }
}