*{
    padding: 0;
    margin: 0;
}

.PEditarContainer{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(218, 218, 218);
    border-radius: 1rem;
}

.PEditarHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 186, 186);
    width: 100%;
    height: 10%;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}

.fechax {
  background: none;
  border: none;
  color: #9c0000;
  font-size: 3rem;
  /* mudar a gambiarra do x */
  margin-left: 60px;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.2s;
}

.fechax:hover {
  transform: scale(1.2);
}

.PEditarBody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.PEditartittle {
    text-align: center;
}

.PEditarBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: end;
}

.PEditarLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 147, 147);
    height: 100%;
    width: 100%;
}
.PEditarLeft div{
    width: fit-content;
}

.PEditarIMG{
    width: 90%;
    height: 60%;
    object-fit: cover;
    border-radius: 1rem;
}

.PEditarRight{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height:98%;
    gap: 1rem;
    padding-inline: 1rem;
}

.PEditarareas{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.PEditarareas:has(> .PEditarTextArea) {
  height: 100%;
}

.PEditarinput{
    width: 100%;
    border-radius: 0.5rem;
    border: 0;
    padding: 0.4rem;
}

.PEditarTextArea{
    width: 100%;
    height: 90%;
    resize: none;
    outline: none;
    border-radius: 0.5rem;
}

