:root {

    /* cores */
    --azul-claro-ourghibli: #5A78A6;
    --azul-escuro-ourghibli: #20315A;
    --bege-ourghibli: #E8D8C3;
    --branco-ourghibli:#F2F1E6;
    --preto-ourghibli: #121212;
    --verde-claro-ourghibli: #7A9478;
    --verde-escuro-ourghibli: #4F6F52;

    /* fontes */
    /* nunito */
    --fonte-nunito: "Nunito", sans-serif;
    /* alice */
    --fonte-alice: "Alice", serif;

    /* quicksand */
    --fonte-quicksand: "Quicksand", serif;

}



.body-dashboard{

    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.dashboard{

background-image: url(../../assets/ghiblicompleto2.png);
width: 100vw;
height: 100vh;
background-position: center;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;


}

.centro-dashboard{

    background-color: #233254;
    border: 0.2vw solid #f2f1e6;

    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: 2.4vh;
    padding-top: 2vh;
    padding-right: 0.7vw;
    padding-left: 0.7vw;
    gap: 2.1vw;

    border-radius: 4.978vh;


}

.dashboard-logo{

    background-image: url(../../assets/logoEscuraAzulEscrito.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vw;
    width: 25vw;

    min-width: 220px;
    min-height: 80px;

    border-radius: 2000px;



}

.dashboard-botoes{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.9vw;
    /* ! preciso de ajuda para fazer as sombras externas */

}

.dashboard-botoes-de-pagina{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.9vw;


}

.pagina-de-usuario{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: 17vw;
    height: 3.6vw;

    background-color: #5a78a6;
    border-radius: 2.8vw;

    border: 0.2vw, solid, #00000000;

    box-shadow: 0 0 0 0.2vw #F2F1E600, 0.2vw 0.5vw 0.6vw #00000070;

}

.texto-pagina-de-usuarios{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.pagina-de-posts{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: 17vw;
    height: 3.6vw;


    border:0.2vw, solid, #00000000;

    background-color: #5a78a6;
    border-radius: 2.8vw;

    box-shadow: 0 0 0 0.2vw #F2F1E600, 0.2vw 0.5vw 0.6vw #00000070;

}

.texto-pagina-de-posts{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw; 
    
}

.dashboard-botao-de-logout{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 0.7vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    padding-right: 1.1vw;
    padding-left: 0.9vw;
    width: 17vw;
    height: 3.6vw;

    background-color: #8B1A1A;
    border-radius: 2.8vw;
    border: 0.2vw, solid, #F2F1E600;

    box-shadow: 0 0 0 0.2vw #F2F1E600, 0.2vw 0.5vw 0.6vw #00000070;

}

.texto-logout-dashboard{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 1.18vw; 

    

}


.dashboard-botao-de-logout:hover{

    box-shadow: 0 0 0 0.2vw #F2F1E6, 0.2vw 0.5vw 0.6vw #00000070;
    transition-duration: 0.1;

    cursor: pointer;

}

.pagina-de-posts:hover{

    box-shadow: 0 0 0 0.2vw #F2F1E6, 0.2vw 0.5vw 0.6vw #00000070;
    transition-duration: 0.1s;

    cursor: pointer;

}

.pagina-de-usuario:hover{

    box-shadow: 0 0 0 0.2vw #F2F1E6, 0.2vw 0.5vw 0.6vw #00000070;
    transition-duration: 0.1s;

    cursor: pointer;

}

@media (max-width:768px){

    .centro-dashboard{

        flex-direction: column;
        gap: 5vw;

        padding-bottom: 2.4vh;
        padding-top: 2vh;
        padding-right: 0.7vw;
        padding-left: 0.7vw;



    }

    .pagina-de-usuario{

    width: 45vw;
    height: 10vw;
    border-radius: 6vw;
    gap: 2vw;
    }

    .texto-pagina-de-usuarios{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 3vw;
}

    .pagina-de-posts{

    width: 45vw;
    height: 10vw;
    border-radius: 6vw;
    gap: 2vw;
    }

    .texto-pagina-de-posts{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 3vw;
}

    .dashboard-botao-de-logout{

    width: 45vw;
    height: 10vw;
    border-radius: 6vw;

    gap: 2vw;
    }

    .texto-logout-dashboard{

    font-family: var(--fonte-nunito);
    font-weight: 800;
    color: #F2F1E6;
    font-size: 3vw;
}

    .dashboard-botoes-de-pagina{

        gap: 3vw;

    }
    .dashboard-botoes{

        gap: 3vw;

    }

    .icone-logout{

        width:5vw;
        height:5vw;

    }

    .icone-usuarios{

    width:5vw;
    height:5vw;

    }

    .icone-posts{

    width:5vw;
    height:5vw;

    }
}