* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #20315a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  transition:
    width 0.4s ease-in-out,
    padding 0.4s ease-in-out;
}

.imagemPerfil {
  width: 70%;
  height: 100%;
}

/* Tamanho Icones */
/* ----------------------------- */
.iconeMenu img {
  width: 90%;
  height: 100%;
  align-items: center;
}
/* ----------------------------- */

.perfilSidebar  {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}



.icone-sidebar {
  display: flex;
  justify-items: center;
  align-items: center;
}


.itemSidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease;
  margin-bottom: 30px;
  height: 100%;
  min-height: 90px;
}
.active {
  background-color: #10192d;
  width: 100%;
  height: 100%;
}

.itemSidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.itemSidebar a:hover {
  scale: 1.1;
}

.itemSidebar span {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  transition: opacity 0.4s ease-in-out;
}

.icone-sidebar img {
  width: 2vw;
  height: 4vh;
  align-items: center;
}

button#buttonLogout {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#iconeLogout{
  width: 2vw;
  height: 4vh;
}


.UlSidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.logoutSidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.logoutSidebar button .itemDescricao {
  color: #fff;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.logoutSidebar button:hover {
  scale: 1.1;
}


.imagemSidebar img {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

/* Sidebar Fechada */

.closed-sidebar {
  width: 5.5vw;
}

.closed-sidebar .active {
  width: 100% !important;
  height: 100% !important;
}

.closed-sidebar .itemSidebar {
  min-height: auto;
  width: 80px;
  margin-bottom: 50px;
}

.closed-sidebar .perfilSidebar .iconeMenu img {
  width: 50px;
  height: 50px;
  align-items: center;
}

.closed-sidebar .itemSidebar .icone-sidebar {
  width: 60%;
  height: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0.5rem;
  align-items: center;
}

.closed-sidebar .itemSidebar .icone-sidebar img {
  width: 50px;
  height: 50px;
}

.logoutSidebar img {
  align-items: center;
  width: 50px;
  height: 50px;
}

.logoutSidebar .icone-sidebar {
  align-items: center;
  justify-items: center;
  width: 50%;
  height: 50%;
}

.closed-sidebar .itemSidebar span {
  display: none;
}

.closed-sidebar .imagemPerfil {
  display: none;
}

.closed-sidebar .iconeMenu img {
  width: 2vw;
  height: 4vh;
}

.closed-sidebar .logoutSidebar .itemDescricao {
  display: none;
}

.closed-sidebar .perfilSidebar img {
  width: 6vw;
  height: 100%;
  padding-right: 0;
}

.closed-sidebar .perfilSidebar {
  justify-content: center;
  padding: 20px 0;
}

.closed-sidebar .active {
  border-radius: 10px;
}

.closed-sidebar .itemSidebar a {
  justify-content: center;
}

.closed-sidebar .logoutSidebar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.closed-sidebar .imagemSidebar {
  display: none;
}

.closed-sidebar .iconeSidebar {
  width: 2vw;
  height: 4vh;
}

.closed-sidebar .iconeMenu img {
  width: 2vw;
  height: 4vh;
  align-items: center;
}

/* Telas Médias e Tablets */
@media (max-width: 1024px) {
  .icone-sidebar img {
    width: 6vw;
    height: 6vh;
  }

  .closed-sidebar {
    width: 15vw;
  }
  .closed-sidebar .perfilSidebar img {
    width: 9vw;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px; 
    padding: 10px 0;
  }

  .perfilSidebar {
    flex-direction: column; 
    gap: 10px;
    font-size: 16px;
    text-align: center;
  }

  .imagemPerfil {
    width: 80px; 
    height: 80px;
    object-fit: cover;
  }

  .perfilSidebar img {
    width: 60px;
    height: 40px;
    object-fit: cover;
  }

  .icone-sidebar img {
    width: 32px !important;
    height: 32px !important;
  }

  .itemSidebar {
    min-height: 50px;
    margin-bottom: 15px;
  }

  .itemSidebar a {
    font-size: 15px;
    flex-direction: column;
    padding-top: 5px;
  }

  .itemSidebar span {
    font-size: 14px;
    padding: 5px;
  }

  /* Sidebar Fechada no Celular */
  .closed-sidebar {
    width: 60px;
  }
  


  .closed-sidebar .itemSidebar {
    width: 50%;
    margin-left: 0px;
    margin-bottom: 25px;
    align-items: center;
  }


  .closed-sidebar .itemSidebar a {
    padding-bottom: 8px;
  }
  .closed-sidebar .itemSidebar .active {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
    
  }

  .closed-sidebar .buttonLogout {
    width: 50%;
  }

  .closed-sidebar .perfilSidebar img {
    width: 35px;
    height: 35px;
  }
  
  .closed-sidebar .itemSidebar .icone-sidebar {
    width: auto;
    height: auto;
    margin: 0;
  }

  .closed-sidebar .itemSidebar .icone-sidebar img {
    width: 30px !important;
    height: 30px !important;
  }
  .closed-sidebar .iconeMenu .img{
    width: 10%;
  }

  .logoutSidebar button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}