<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontes -->

    <!-- Alice -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <!-- Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <!-- Nunito -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <title>Página de Posts</title>
    <link rel="stylesheet" href="../../../public/css/styles.css" />
  </head>
  <body>
    <main>
      <!-- Section do topo da página, onde tem o título e a barra de pesquisa -->
      <section>
        <div class="topoPaginaDePosts">
          <h1>Publicações</h1>
          <input type="text" id="pesquisa" placeholder="Pesquisar" />
          <!-- input de pesquisa -->
        </div>
      </section>

      <!-- Section do conteúdo, onde tem os cards de cada publicação -->
      <section class="conteudo">
        <!-- container com os cards de cada publicação, onde tem a imagem, o título e a descrição de cada publicação -->
        <div class="container">
          <div class="card" href="#">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Meu Amigo Totoro</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
          <div class="card">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Lorem ipsum</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
          <div class="card">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Lorem ipsum</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
          <div class="card">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Lorem ipsum</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
          <div class="card">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Lorem ipsum</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
          <div class="card">
            <img src="../../../public/assets/Totoro.webp" alt="" />
            <h1>Lorem ipsum</h1>
            <p>
              Lorem ipsum é um texto de preenchimento comumente usado nas
              indústrias gráficas, de impressão e editoriais para pré-visualizar
              layouts e maquetes visuais.
            </p>
          </div>
        </div>
      </section>
      <!-- Paginação -->
      <section>
        <div class="paginação">
          <button class="botão-paginação"><</button>
          <button class="botão-paginação">1</button>
          <button class="botão-paginação">2</button>
          <button class="botão-paginação">3</button>
          <button class="botão-paginação">></button>
        </div>
      </section>
    </main>
    <script>
      const inputPesquisa = document.getElementById("pesquisa");
      const cards = document.querySelectorAll(".card");

      inputPesquisa.addEventListener("keyup", function () {
        const termoBusca = inputPesquisa.value.toLowerCase();

        cards.forEach(function (card) {
          const titulo = card.querySelector("h1").textContent.toLowerCase();
          const paragrafo = card.querySelector("p").textContent.toLowerCase();

          if (titulo.includes(termoBusca) || paragrafo.includes(termoBusca)) {
            card.style.display = "";
          } else {
            card.style.display = "none";
          }
        });
      });
    </script> 
  </body>
</html>
