<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/styles.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <aside class="sidebar" id="sidebar">
      <div class="top-sidebar">
        <div class="perfilSidebar">
          <img src="../../../public/assets/logoEscuraAzul.png" alt="" />
        </div>
        <nav class="navegacaoSidebar">
          <ul>
            <li class="itemSidebar">
              <a href="#">
                <i class="icone-sidebar">
                  <img src="../../../public/assets/casa.png" alt="" srcset=""
                /></i>
              </a>
            </li>

            <li class="itemSidebar">
              <a href="#">
                <i class="icone-sidebar">
                  <img
                    src="../../../public/assets/postagem-no-instagram.png"
                    alt=""
                    srcset=""
                /></i>
              </a>
            </li>

            <li class="itemSidebar">
              <a href="#">
                <i class="icone-sidebar">
                  <img
                    src="../../../public/assets/grupo-de-usuarios.png"
                    alt=""
                    srcset=""
                /></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="logoutSidebar">
        <button type="button" id="buttonLogout">
          <i class="icone-sidebar">
            <img src="../../../public/assets/seta.png" alt="" srcset=""
          /></i>
          <span class="itemDescricao">Sair</span>
        </button>
      </div>
    </aside>
  </body>
  <script src="../../../public/js/index.js"></script>
</html>
