<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Ghibli</title>
    <link rel="stylesheet" href="../../../public/css/landing-page.css">

    <!-- Fonte Alice --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">

    <!-- Fonte Nunito (weight entre 200 e 1000) --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Fonte Quicksand (weight entre 300 e 700) --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">



</head>
<body>
    <main>

        <section class="hero"> <!-- Hero card -->

            <section class="frametextofilme"> <!-- texto filme + logo -->

                <img src="/Our-Ghibli-Trainee-2026.1/public/assets/LogoSemFundo.png" style="height: 8,125vw; width: 8.95vw" alt = "logoourghibli"> <!-- Logo sem fundo-->
                <h2>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do”</h2>

              </section>
        </section>

        <section class="home"> <!-- Seta + Página de Posts -->
            
            <section class="seta"> <!-- Seta -->
                <section class="setapracima"> 
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="3.0vw" height="3.0vw" fill="#4F6F52" class="bi bi-caret-up-fill" viewBox="0 0 16 16"> <!-- Vetor -->
                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/> </svg> <!-- Vetor -->

                </section>
            </section>

        </section>

    </main>
        
</body>
</html>