<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Individual de Posts</title>
    <link rel="stylesheet" href="../../../public/css/pip.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script+Swash+Caps&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


</head>
<body>
    <main>
        <section class="PIP-Topo">
        </section>
        <section class="PIP-Meio">

        </section>
    </main>
</body>
</html>