<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Individual de Posts</title>
    <link rel="stylesheet" href="../../../public/css/pip.css">
</head>
<body>
    <main>
        <div class="contpip">

            <div class="Topocont">
                
                <div class="fotoscont">
                    <div class="topnuvens">
                        <div class="N1">
                            <img src="../../../public/assets/Nuvem1.png" alt="Nuvem1">
                        </div>

                        <div class="N1">
                            <img src="../../../public/assets/Nuvem2.png" alt="Nuvem2">
                        </div>
                    </div>

                    <div class="Gatito">
                            <img src="../../../public/assets/gatinho.png" alt="Jiji">
                    </div>
                </div>

                <div class="conttitulo">
                    <div class="cxtitulo">
                        <div class="titulo">
                            <p>A Viagem de Chihiro</p>
                        </div>
                    </div>
                </div>
            </div>
    </main>
        

</body>
</html>