<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Individual de Posts</title>
    <link rel="stylesheet" href="../../../public/css/pip.css">
</head>
<body>
    <main>
        <div class="contpip">

            <div class="Topocont">
                
                <div class="fotoscont">
                    <div class="topnuvens">
                        <div class="N1">
                            <img src="../../../public/assets/Nuvem1.png" alt="Nuvem1">
                        </div>

                        <div class="N1">
                            <img src="../../../public/assets/Nuvem2.png" alt="Nuvem2">
                        </div>
                    </div>

                    <div class="gatito">
                            <img src="../../../public/assets/Jjiapontando.png" alt="Jiji">
                    </div>
                </div>

                <div class="conttitulo">
                    <div class="cxtitulo">
                        <div class="titulodopost">
                            <p>A Viagem de Chihiro</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="conteudocont">
                
                <div class="p1">
                    <div class="imgcont">
                        <div class="contdaimgpost">
                            <div class="cabcont">
                                <div class="titulodocab">
                                    <div class="titdocabcont">
                                        <p>Imagem</p>
                                    </div>
                                    <div class="botoes">
                                        <img src="../../../public/assets/Bolinhapreta (1).png" alt="botao">
                                        <img src="../../../public/assets/Bolinhapreta (1).png" alt="botao">
                                        <img src="../../../public/assets/Bolinhapreta (1).png" alt="botao">
                                    </div>
                                </div>
                            </div>
                            <div class="ftpostscont">
                                <div class="fotopsts">
                                    <img src="../../../public/assets/ImagemChihiro.png" alt="Fotodoposts">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desccont"></div>
                    <div class="totorocont"></div>
                     
                </div>

                <div class="p2">

                </div>

            </div>
        </div>
    </main>
        

</body>
</html>